.main {
    min-height: calc(100vh );
    width: 100%;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisorContainer {
    height: 162px;
    width: 100%;
    background: rgb(223, 185, 116);
}

.aboutMe {
    width: 100%;
    padding: 3em 0;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.projects {
    width: 100%;
    padding: 3em 0;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}

.contact {
    width: 100%;
    min-height: 800px;
    padding-bottom: 4em;
    background: #f7f7f7;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:575px) {
    .aboutMe {
        gap: .8em;
    }

    .contact {
        min-height: 600px;
        padding: 1.2em 0;
        padding-bottom: 3em;
    }
}

@media only screen and (min-width:576px) and (max-width:800px) {
    .aboutMe {
        gap: 1em;
    }

    .contact {
        min-height: 600px;
        padding: 1.2em 0;
        padding-bottom: 3em;

    }
}

@media only screen and (min-width:800px) and (max-width:1100px) {
    .aboutMe {
        gap: 2em;
    }
    .contact {
        min-height: 600px;
    }
}