.mainContainer {
    font-size: 1rem;
    width: 925px;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.information {
    color: #374151;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.welcome {
    font-size: 2.7em;
    font-weight: 400;
}

.mainText {
    font-size: 3.7em;
    font-weight: 500;
}
.name{
    color: #f78d23;
    font-weight: 600;
}

.secundaryText {
    font-size: 1.5em;
    font-weight: 500;
}

.imgContainer {
    width: 300px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: #00000073 0px 22px 15px -20px;
    transition: .3s ease;

}

.imgContainer:hover {
    box-shadow: 14px 12px 8px #cbcbcb, 14px -9px 8px #FFF;
    transform: skew(0deg, 1deg);
}

.profileImg {
    width: 100%;
    height: 100%;
}

.btnContainer {
    display: flex;
    gap: 2em;
}

.btnContainer a {
    padding: .7em 0;
    width: 7.5em;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #f78d23;
    text-align: center;
    border: 1px solid #f78d23;
    border-radius: 6px;
    transition: ease .3s;
    cursor: pointer;
}

.btnContainer a:hover {
    background: #f78d23;
    color: #FFF;
}

@media only screen and (max-width:575px) {
    .mainContainer {
        width: 90%;
        font-size: .9rem;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        /* background-color: red; */
    }

    .mainText {
        font-size: 3.2em;
        width: 100%;
        text-align: center;
    }

    .information {
        align-items: center;
        gap: .8em;
    }

    .imgContainer {
        width: 250px;
        height: 330px;
        background: #c2c2c2;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .mainContainer {
        width: 90%;
        font-size: .9rem;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    .information {
        align-items: center;
        gap: .8em;
    }

    .imgContainer {
        width: 250px;
        height: 330px;
        background: #c2c2c2;
    }
}

@media only screen and (min-width:768px) and (max-width:1000px) {
    .mainContainer {
        width: 720px;
        font-size: .9rem;
    }

    .imgContainer {
        width: 250px;
        height: 330px;
        background: #c2c2c2;
    }
}