.main {
    margin-top: 65px;
    min-height: calc(100vh - 65px);
    width: 100%;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}



.aboutMe {
    width: 100%;
    padding: 3em 0;
    padding-bottom: 4.5em;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.projects {
    width: 100%;
    padding: 3em 0;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}

.contact {
    width: 100%;
    min-height: 800px;
    padding-bottom: 4em;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divisorContainer {
    background: #f7f7f7;
    position: relative;
    height: auto;
    filter: drop-shadow(0px 2px 5px #afafaf);
}

.divisorBlockTop {
    width: 100%;
    height: 55px;
    background: #f78d23;
}

.divisorBlockBottom {
    width: 100%;
    height: 45px;
    background: #f78d23;

}

.topSVG {
    background: transparent;
    border: none;
    position: absolute;
    height: 111.2px;
    bottom: -95px;
}

.bottomSVG {
    background: transparent;
    border: none;
    position: absolute;
    height: 111px;
    top: -96px;
}

@media only screen and (max-width:575px) {
    .aboutMe {
        gap: .8em;
        padding-bottom: 6em;
    }

    .contact {
        min-height: 600px;
        padding: 1.2em 0;
        padding-bottom: 3em;
    }

}

@media only screen and (min-width:576px) and (max-width:800px) {
    .aboutMe {
        gap: 1em;
        padding-bottom: 5em;
    }

    .contact {
        min-height: 600px;
        padding: 1.2em 0;
        padding-bottom: 3em;

    }
}

@media only screen and (min-width:800px) and (max-width:1100px) {
    .aboutMe {
        gap: 2em;
    }

    .contact {
        min-height: 600px;
    }
}